body {
  margin: 2em;
}

* {
  box-sizing: border-box;
  font-family: monospace;
  color: #333;
}

#widget {
  display: flex;

  max-width: 100%;
  min-height: 500px;
  width: 600px;
  background: #EEE;
  border-radius: 5px;
  overflow: hidden;
}

.input-parent {
  position: relative;
  width: 160px;
  height: auto;
}

.solver {
  display: flex;
  flex-direction: row;
}

h1, h3 {
  margin: 1em 0;
}

.panel {
  padding: .5em 1em;
}

.column {
  flex: 1;
}

.input-column {
  width: 150px;
  flex: initial;
}

.output-column {
  display: flex;
  flex-direction: column;
}

.output-column .details {
  display: flex;
  flex: 1;
}

.details-column {
  flex: .5;
  border-left: solid 1px #CCC;
}

.error {
  background: #de9c25;
  color: #000;
}

.panel .highlight {
  background: rgba(200, 200, 200, .8);
  border-radius: .2em;
  padding: .2em .4em;
  font-weight: bold;
}

.text {
  font-size: 1.2em;
  margin: 10px 0;
}

.large-text {
  font-size: 3em;
}

b {
  color: #333;
}

.progress .text {
  white-space: pre-wrap;
}

span.entry + span.entry:before {
  content: ', ';
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

textarea {
  width: 100%;
  height: 100%;
  font-size: 2em;
  padding: .5em;
  line-height: 1.5;
  font-family: monospace;
  border-radius: 5px 0 0 5px;
  border: solid 1px #CCC;
}

.spinner {
  --stroke-width: 6px;
  --size: 64px;
  --duration: 1s;

  flex: initial;
  margin: auto;

  border: var(--stroke-width) solid rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  border-top-color: rgba(0, 0, 0, 0.5);
  animation: rotate calc(var(--duration)) linear infinite;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}